#occupato{
    background-color: rgb(218, 81, 81);
}
#libero{
    background-color: lightgreen;
}
.container{
    text-align: center; 
    width: 100%; 
    height: 200px;  
    padding-top:40px;  
}
.container > button{
    height: 50px;
    width: 10%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-container > div {
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }